.navbar-custom-wrapper {
  background-color: white;
  padding: 1rem 0;
}

.nav-link-custom {
  color: #a3aed1 !important;
  font-weight: 500;
  margin-right: 1.5rem;
  position: relative;
  transition: color 0.2s ease;
}

.nav-link-custom:hover {
  color: #4318ff !important;
}

.nav-link-custom.active {
  color: #4318ff !important;
  font-weight: 600;
}

.nav-link-custom.active::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4318ff;
  border-radius: 5px;
}